/* @import "__lang4dev"; /**/


.main-horizontal-header {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .lang4dev_logo {

    //border: 1px solid blue;
    //max-width: 20%;
    flex-shrink: 3;

    img {
      //  max-width: 10%;
      max-width: 60%;
      //max-width: 100%;

      //border: 1px solid darkred;

    }
  }

  .header_title {

    padding: 1px 10px 10px 1px;

    header_title_header {

    }

    .header_steps_text {

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 10px 10px 10px 1px;
    }

    .version_text {


    }

  }


}

.main-horizontal-bar {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .main-horizontal-row {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    //    border: 5px solid darkgreen;
  }

}


.horizontal-buttons {

  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;

  .button-container {

    //    border: 5px solid darkblue;
  }

  .maint-text {

    max-width: 120px;
    // border: 5px solid darkblue;
  }
}

.lang4dev-icon {

  background-color: white;

  border: 5px solid lightgrey;
  //border: 5px solid darkgrey;
  //border-color: red;
  //border-width: thick;
  border-radius: 8px;
  padding: 10px;
  //  margin: 10px 10px;

  box-shadow: 2px 2px 1px #888888;
}

.lang4dev-icon:hover {

  background: lightgray;
  border: 5px solid green;
}

.project_selection_container {

  //border: 2px solid lightgrey;
  //border-radius: 4px;

  //padding: 10px;
  //// padding: 10px 10px 10px 1px;
  //margin-left: 20px;
  //max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .project_selection {

    border: 2px solid lightgrey;
    border-radius: 4px;

    padding: 10px 10px 0px 10px;
    // padding: 10px 10px 10px 1px;
    // margin-left: 20px 0px 20px;
    margin: 5px 0px 5px 20px;

    max-width: 600px;

    .project_selection_setting {

      justify-content: flex-start;
      //border: 2px solid lightblue;

      .control-label {

        // background-color: red;
        max-width: 150px;

      }

    }

  }


}
