/* @import "__lang4dev"; /**/


.sub_projects_container {

	border: 2px solid lightblue;

	margin: 20px 50px 20px 20px;
	// max-width: 600px;
	//width: 70%;

	padding: 10px 10px 0px 10px;

	.sub_project_container {

//		border: 2px solid darkgreen;

		.sub_project_title {
//			border: 3px solid darkblue;

		}

		.sub_project_data {
//			border: 3px solid darkorange;

		}

	}
}
